@model SportsECommerce.Models.Produto

@{
    ViewData["Title"] = "Apagar produto";
}

<h1>Delete</h1>

<h3>Deseja realmente apagar este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoPreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoPreco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar a lista de produtos</a>
    </form>
</div>
